.vscode/*
.DS_Store
build/*
Board/kicad/din_midi/din_midi-backups/din_midi-2026-01-21_174428.zip
Board/kicad/din_midi/din_midi-backups/din_midi-2026-01-21_194055.zip
Board/kicad/din_midi/din_midi-backups/din_midi-2026-01-21_201722.zip
Board/kicad/din_midi/din_midi-backups/din_midi-2026-01-21_202534.zip
Board/kicad/din_midi/din_midi-backups/din_midi-2026-01-21_203647.zip
